html {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #FAF9FB;
  padding: 0;
  font-size: 14px;
  font-family: quickSand;
  color: #737A8D;
}

header {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color: white;
  position: fixed;
  box-shadow: 1px 1px 20px rgba(20, 6, 23, 0.09);
  z-index: 1;
}

header img {
  height: 30px;
  padding-left: 15px;
  padding-top: 15px;
}

section {
  height: auto;
  width: auto;
  margin-top: 80px;
  margin-left: 200px;
  min-width: 500px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 17px;
}

td {
  max-width: 50px;
}

tr {
  height: 50px;
  width: 100%;
  transition: 0.3s ease-out;
}

tr:hover {
  cursor: pointer;
  height: 62px;
}

tr:nth-child(even) {
    background-color: #FAF9FB;
}

.side-navigator {
  background-color: #230F27;
  top: 60px;
  height: 100%;
  width: 200px;
  z-index: 1;
  position: fixed;
  line-height: 36px;
}

.side-navigator a {
  color: #FAF9FB;
  display:block;
  width: 180px;
  padding-left: 20px;
  transition: 0.5s ease;
}

.side-navigator a:hover {
  cursor: pointer;
  background-color: #120614;
}

.side-navigator .actionButton {
  margin: 20px;
}

.actionButton {
  background-color: #877BA5;
  font-family: quickSand-medium;
  font-size: 10px;
  color: white;
  text-align: center;
  border: 0;
  width: 80%;
  border-radius: 15px;
  box-shadow: 2px 2px 8px #140617;
  height: 30px;
  outline: none;
}

.actionButton:hover {
  background-color: #675A90;
  cursor: pointer;
}

.filter-box {
  margin-left: 30px;
  margin-right: 30px;
}

.box {
  padding: 0;
  margin: 0;
  width: 120px;
  display: inline-block;
  margin-right: 10px;
}

.box a {
  line-height: 35px;
  font-size: 12px;
  text-decoration: none;
  color: #7A777A;
  width: 0px;
  text-align: left;
  font-family: quickSand-medium;
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  white-space: nowrap;
  cursor: pointer;
}

.box a:hover {
  border-bottom: 2px solid #877BA5;
  text-align: center;
  width: 100%;
}

.box .currentFilter {
  border-bottom: 2px solid #877BA5;
  text-align: center;
  width: 100%;
}

.main-container {
  margin: 0px 30px 30px;
  display: block;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(84, 82, 84, 0.2);
}

.modalNewOS {
  background-color: #FFF;
  padding: 30px;
  width: 460px;
  height: auto;
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.modalNewOS h3 {
  font-family: quickSand-bold;
  font-size: 14px;
}

.modalNewOS input, select {
  width: 100%;
  color: #9B9B9B;
  font-size: 12px;
  font-family: quickSand;
  text-indent: 10px;
  background-color: #F0EFF1;
  height: 40px;
  border-radius: 30px;
  border: 0;
  outline: none;
}

.modalNewOS textarea {
  font-size: 12px;
  font-family: quickSand;
  color: #9B9B9B;
  text-indent: 10px;
  padding-top: 10px;
  background-color: #F0EFF1;
  height: 8em;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  border-radius: 15px;
  outline: none;
  border: 0;
}

.modalNewOS .actionButton {
  width: 80px;
  box-shadow: 0.6px 1.2px 4px #140617;
}

.modalDetailedOS {
  background-color: #FFF;
  width: 904px;
  height: 600px;
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.modalDetailedOS h3 {
  margin-left: 30px;
  margin-top: 21px;
  font-family: quickSand-bold;
	font-size: 16px;
	color: #737a8d;
}

.modalDetailedOS input {
  right: 0px;
  width: 130px;
  height: 30px;
  position: fixed;
  top: 0px;
  margin-top: 13px;
  margin-right: 150px;
  border-radius: 50px;
  border: solid 1px #877BA5;
  background-color: #ffffff;
  font-size: 14px;
  outline: none;
}

.modalDetailedOS select {
  right: 0px;
  width: 180px;
  height: 30px;
  position: fixed;
  top: 0px;
  margin-top: 13px;
  margin-right: 310px;
  border-radius: 50px;
  border: solid 1px #877BA5;
  background-color: #ffffff;
  font-size: 14px;
  outline: none;
  visibility: hidden;
}

.modalDetailedOS button {
  right: 0px;
  width: 117px;
  height: 30px;
  position: fixed;
  top: 0px;
  margin-top: 13px;
  margin-right: 15px;
  border-radius: 100px;
  background-color: #ffffff;
	border: solid 1px #dbc46c;
  color: #b49628;
  font-size: 14px;
  font-family: quickSand;
  outline: none;
}

.modalDetailedOS button:hover {
  cursor: pointer;
  background-color: #dbc46c;
  color: #ffffff;
}

.detailedOS {
  position: absolute;
  margin-left: 30px;
  left: 0%;
  width: 604px;
  height: 540px;
  margin-top: 60px;
}

.chatContainer {
  width: 300px;
	height: 100%;
  position: absolute;
  right: 0%;
	background-color: #f1f0f1;
}

.chatContainer h3 {
  margin-top: 83px;
  margin-left: 65px;
  font-family: quickSand-bold;
}

.chatContainer img {
  margin-top: 80px;
  margin-left: 20px;
  position: fixed;
}

.chatConversation {
  border-top: 3px solid rgba(64, 64, 65, 0.1);
  height: 400px;
  width: 260px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: auto;
  position: fixed;
}

.chatConversation dt {
  font-family: quickSand-bold;
  margin-top: 18px;
  font-size: 12px;
  left: 0px
}

.chatConversation dd {
  margin-top: 12px;
  margin-left: 0px;
  font-size: 14px;
}

.chatContainer textarea {
  bottom: 0%;
  margin: 10px;
  font-family: quickSand;
  font-size: 14px;
  color: #9B9B9B;
  text-indent: 10px;
  padding-top: 10px;
  background-color: #ffffff;
  height: 50px;
  width: 276px;
  max-width: 280px;
  max-height: 60px;
  position: fixed;
  outline: none;
  border: 0;
}

.detailedOSCompany .title {
  margin-top: 26px;
  font-size: 16px;
}

.detailedOSDescription .title {
  margin-top: 38px;
  font-size: 16px;
  font-family: quickSand-bold;
}

.detailedOSDescription .description {
  margin-top: 38px;
  font-size: 14px;
  max-width: 544px;
  max-height: 200px; 
  overflow: auto;
}

.detailedOSInvolveds .title {
  margin-top: 38px;
  font-size: 16px;
  font-family: quickSand-bold;
}

.detailedOSInvolveds .peopleName {
  margin-top: 38px;
  font-size: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modalNewOS, .modalDetailedOS, .overlay {
  display: none;
}
